@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

.markdown h1:not(:first-child),
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}
.markdown h1 {
	font-size: 1.25em;
}
.markdown h2 {
	font-size: 1.25em;
}
.markdown h3 {
	font-size: 1.1em;
}
.markdown h4 {
	font-size: 1em;
}
.markdown h5 {
	font-size: 0.9em;
}
.markdown h6 {
	font-size: 0.8em;
}
.markdown p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.markdown ul,
.markdown ol {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 1em;
	list-style: revert;
}
.markdown li {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.markdown blockquote {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	border-left: 4px solid var(--border);
	background: var(--background-secondary);
}
.markdown pre {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	border: 1px solid var(--border);
	background: var(--background-secondary);
	overflow-x: auto;
}
.markdown code {
	font-family: "Material Symbols Rounded", monospace;
	font-size: 0.9em;
	background: var(--background-secondary);
	padding: 0.1em 0.25em;
	border-radius: var(--border-radius);
}
.markdown a {
	color: var(--text-link);
	text-decoration: underline;
}
.markdown a:hover {
	color: var(--text-link-hover);
}
.markdown img {
	max-width: 100%;
}
